# folders
notebooks
.vscode

# boilerplate
.ipynb_checkpoints
.vscode
.idea
.mypy_cache
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
.python-version
env*/
venv*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
htmlcov
.coverage
